<!DOCTYPE html>
<html>
  <head>
    <title>EmployeeManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, class: key %>
    <% end %>

    <%= yield %>
  </body>
</html>
